.guessResponseWord {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    justify-items: center;
}

.guessResponseLetter {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    border: 1px solid #aaa;
    padding: 0em;
    margin: 0.5em;
}

.alphabetLetter {
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-size: small;
    text-align: center;
    border: 1px solid #aaa;
    padding: 0em;
    margin: 0.5em;
}

.alphabet {
    display: grid;
    justify-items: center;
}

.keyboardRow0 {
    grid-row: 1;
}

.keyboardRow1 {
    grid-row: 2;
}


.keyboardRow2 {
    grid-row: 3;
}


.keyboardRow {
    display: flex;
}

.scoreboard {
    text-align: center;
    height: 2em;
    line-height: 2em;
}

.congratulations {
    margin: 2em;
}

.score0 {
    background-color: #eaeaea;
}

.score1 {
    background-color: #abf;
}

.score2 {
    background-color: #cfa;
}

.scoreUnused {
    background-color: #fff;
}

.score3 {
    background-color: #ddd;
    color: #aaa;
}

form {
    margin: 0px;
    padding: 0px;
}

#copyButton {
    width: 100%;
    margin: 1em 0em;
}

#inputButton {
    width: 100%;
}

#inputText {
    width: 100%;
}

.centerBlock {
    max-width: 30em;
    margin: auto;
    padding: 1em 0em;
    text-align: justify;
}

li {
    margin: 0.5em 0em;
}